<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 VoiceInput. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <false/>
    <key>NSMicrophoneUsageDescription</key>
    <string>VoiceInput 需要使用麦克风进行语音输入。</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>VoiceInput 需要使用语音识别将您的语音转换为文字。</string>
    <key>NSCalendarsUsageDescription</key>
    <string>VoiceInput 语音终端需要访问日历以创建事件。</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>VoiceInput 语音终端需要使用 AppleScript 自动化来创建笔记和打开应用。</string>
    <key>NSContactsUsageDescription</key>
    <string>VoiceInput 语音终端需要访问联系人以查询联系人信息。</string>
    <key>NSRemindersUsageDescription</key>
    <string>VoiceInput 语音终端需要访问提醒事项以创建提醒。</string>
</dict>
</plist>
